@-webkit-keyframes pulse {
    0% { background-color: #28a6c6; }
    50% { background-color: #2c3335; }
    100% { background-color: #28a6c6; }
}

@keyframes pulse {
    0% { background-color: #28a6c6; }
    50% { background-color: #2c3335; }
    100% { background-color: #28a6c6; }
}

html, body {
    height: 100%;
    position: relative;
}

body {
    -webkit-animation: pulse 15s infinite ease-in;
    animation: pulse 15s infinite ease-in;
    font-family: 'Codystar', cursive;
    margin: 0;
}

#wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
    min-width: 320px;
    text-align: center;
}

#logo {
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
    width: 100px;
}

h1 {
    color: #eee;
    text-shadow: #111 2px 2px 0;
}

img {
    width: 100%;
}

p {
    color: #fff;
    font-size: 1.5em;
    padding-top: 0;
    text-shadow: #111 2px 2px 0;
}
