@-webkit-keyframes pulse {
    0% { background-color: #13b1d9; }
    50% { background-color: #2c3335; }
    100% { background-color: #13b1d9; }
}

@keyframes pulse {
    0% { background-color: #13b1d9; }
    50% { background-color: #2c3335; }
    100% { background-color: #13b1d9; }
}

html, body {
    height: 100%;
    position: relative;
}

body {
    -webkit-animation: pulse 15s infinite ease-in;
    animation: pulse 15s infinite ease-in;
    font-family: 'Codystar', cursive;
    margin: 0;
}

#wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
    min-width: 320px;
    text-align: center;
}

#logo {
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
    width: 100px;
}

h1, h2, p {
    color: #eee;
    font-weight: 400;
    text-shadow: #111 2px 2px 0;
}

img {
    width: 100%;
}

p {
    font-size: 1.5em;
    padding-top: 0;
}

ul {
    float: left;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

ul.comments li {
    background-color: rgba(255, 255, 255, 0.5);
    color: #365158;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    margin-bottom: 2px;
    padding: 8px 15px;
    text-align: left;
}

ul.sponsors li, ul.speakers li {
    float: left;
}

ul.sponsors li img, ul.speakers li img {
    margin: 5px 10px;
    width: 100px;
}
